<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700783947301-gmi0q474hthem9dice5rm6enldl27til.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700783947301-gmi0q474hthem9dice5rm6enldl27til</string>
	<key>API_KEY</key>
	<string>AIzaSyAypaoUCrofh1eVxLA-pUYf8Q1h9SI4PlM</string>
	<key>GCM_SENDER_ID</key>
	<string>700783947301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekmen.aiapp</string>
	<key>PROJECT_ID</key>
	<string>ai-app-1988c</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-app-1988c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700783947301:ios:88c9eb28f962024bb319cc</string>
</dict>
</plist>